<h1>Uplad picture to request it's size in bytes</h1>
<br />
<br />

<form method="post" action="/file" enctype="multipart/form-data">
  <div class="panel-body form-horizontal">
    <div class="form-group col-md-12">
      <label class="col-md-2 control-label" for="file">Browse:</label>
      <div class="col-md-8">
        <input class="form-control" type="file" name="file" />
      </div>
      <div class="col-md-2 text-right">
        <button type="submit" id="login-btn" class="btn btn-success" ><i class="fa fa-cloud-upload"></i> Uplad file </button>
      </div>
    </div>
  </div>
</form>
